<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= challenge.id %> - Challenge</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="challenge-detail-container">
      <div class="challenge-category">
        <span class="category-label"><%= challenge.category %></span>
      </div>
      <div class="challenge-header">
        <h1 class="challenge-title"><%= challenge.title %></h1>
        <div class="points">
          <p>
            <span class="points-number"><%= challenge.points %></span> Points
          </p>
        </div>
      </div>

      <br />
      <div class="problem-statement">
        <p><%= challenge.description %></p>
      </div>
      <% if (challenge && challenge.filePath) { %> <% const fileName =
      challenge.filePath.split('/').pop(); %>
      <a href="<%= challenge.filePath.replace('./public', '') %>" download
        ><%= fileName %></a
      >
      <% } %>

      <form
        action="/challenge/<%= challenge.id %>/submit"
        method="POST"
        class="challenge-form"
      >
        <div class="challenge-input-container">
          <input
            name="flag"
            id="solution"
            class="solution-input"
            placeholder="Enter your flag here..."
            required
          />
          <button type="submit" class="submit-btn">Submit</button>
        </div>
      </form>

      <% if (messages.error) { %>
      <div class="alert error-alert" id="yesOrNo"><%= messages.error %></div>
      <% } %> <% if (messages.success) { %>
      <div class="alert success-alert" id="yesOrNo">
        <%= messages.success %>
      </div>
      <% } %>
    </div>
  </body>
</html>
